body {
	top:0;
	left: 0;
    font-family : Segoe UI;
    background-color:#00D9A8;*/

}


.header {
	position: relative;

}
h1 {
    font-family : Segoe UI;
    position: absolute;
    font-size: 3em;
    /*color: rgba(0,0,0,0.3); */
    color: #F5DEB3;
    font-weight: 300;
}
.social {
	float: right;
	overflow: auto;

}
.footer {
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	height: 40px;
	background: #2ecc71;

}
